body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

img {
    height: 100%;
    width: 60%;
}

.brand-logo {
    height: 70px;
    width: 250px;
}